body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  #info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #startButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #1e90ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  #startButton:hover {
    background-color: #1c86ee;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ddd; /* Um tom mais claro para o texto */
    text-align: center;
  }

  #container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Ocultar elementos */
  .hidden {
    display: none !important;
  }

  #overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 10px;
    border-radius: 5px;
    z-index: 9999; /* Certifica-se de que está acima do vídeo */
  }
  
  